@import "../../../variables";
@import "../../../shared-styles";

.dashboard-accordion-container {
  margin-bottom: 50px;
  margin-top: 150px;
  .accordion-body {
    background: #fff;
    box-shadow: 0px 38px 21px 9px rgba(211, 212, 215, 0.75);
    -webkit-box-shadow: 0px 38px 21px 9px rgba(211, 212, 215, 0.75);
    -moz-box-shadow: 0px 38px 21px 9px rgba(211, 212, 215, 0.75);
    margin-bottom: 30px;
    margin-top: 30px !important;
    padding-top: 0 !important;
    border-radius: 10px !important;
  }
  .accordion {
    margin-top: 30px;
    margin-left: 30px;
  }
  .accordion-button:not(.collapsed) {
    background: red !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }
  .accordion-item {
    border: none !important;
  }

  .accordion-button:focus {
    border-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;

    // border-top: solid 2px rgb(155, 154, 154) !important;
  }
  .accordion-button {
    background: #f9fafb !important;
    margin-top: 0px;
    padding-top: 20px !important;
    // padding-bottom: 10px !important;
    padding-left: 30px !important;
  }
  .accordion-button::after {
    // background-image: url("../../../assets/images/add-circle.svg") !important;
    content: "" !important;
    background-position: center;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }
  .accordion-button:not(.collapsed)::after {
    // background-image: url("../../../assets/images/sub-circle.svg") !important;

    content: "" !important;
  }
  .accordion-button:not(.collapsed) {
    color: #161617 !important;
    box-shadow: none !important;
    border: none !important;

    // border-top: solid 2px rgb(155, 154, 154) !important;
  }
  .accordion-header {
    h6 {
      color: #161617;
    }
  }
  .accordion-item:first-of-type .accordion-button {
    // border-radius: 0 !important;
  }
  .tech-img {
    box-shadow: 0px 38px 21px 9px rgba(211, 212, 215, 0.75);
    -webkit-box-shadow: 0px 38px 21px 9px rgba(211, 212, 215, 0.75);
    -moz-box-shadow: 0px 38px 21px 9px rgba(211, 212, 215, 0.75);
  }
}
