@import "../../variables";
@import "../../shared-styles";
.footer-container {
  padding-bottom: 60px;
  color: #fff;
  h4 {
    color: #fff;
  }
  .footer-links {
    color: #fff;
    &:hover {
      color: $red;
    }
  }
  ul li i {
    margin-right: 10px;
    font-size: 30px;
  }
  small {
    margin-bottom: 10px !important;
  }
}
