@import "../../variables";
@import "../../shared-styles";

.navbar-container {
  background: #fff;
  padding: 5px 0px !important;
  display: flex;

  .web-nav {
    @media screen and (max-width: "620px") {
      display: none;
    }
  }
  .mobile-navigation {
    @media screen and (min-width: "620px") {
      display: none;
    }
  }
  .logo-holder {
    flex-grow: 1;
  }
  .nav-links-container {
    flex-grow: 1;
    margin-top: 20px;
    .nav-links {
      padding: 8px 20px;
      color: #414244;
      text-decoration: none;
      font-family: rebondG-Semi-Bold;

      font-size: 14px;
      border: none;
      background: #fff;
      &:hover {
        background: rgb(231, 231, 231) !important;

        border-radius: 50px;
        transition: 0.5s ease;
      }
    }
  }
  .nav-buttons {
    .get-started-button {
      @include get-started-button;
      margin-left: 10px;
      margin-top: 10px;
      // &:hover {
      //   background: #30266b !important;
      //   transition: 0.5s ease;
      // }
    }
    .sign-in-button {
      @include login-or-signup-button;
      margin-top: 10px;
    }
  }
}
//mobile
.mobile {
  @media screen and (min-width: 620px) {
    display: none;
  }
}
.hide {
  display: none !important;
}
.sticky {
  position: fixed;
  margin-bottom: 50px !important;
}
// .mobile-navigation {

.side-contrls {
  @media screen and (min-width: 620px) {
    display: none;
  }
}
.mobile-navigation {
  @media screen and (min-width: 620px) {
    display: none !important;
  }
}

.slide-right {
  animation: 1s slide-right !important;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.mobile-navigation {
  height: 5vh;
}
.phone {
  background-color: transparent;

  height: 400px;
  overflow: hidden;

  width: 100%;
}

.menu {
  align-items: center;
  background-color: #3099da;
  clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 28px;
  height: 80%;
  padding: 0 20px;
  position: fixed;
  top: -1%;
  right: 4%;
  transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 60%;
}
.active3 .menu {
  background-color: #3099da;
  clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
  width: 100% !important;
  height: 100%;
  // position: fixed;
  right: 0%;
  z-index: 150;
  opacity: 1;
}
.options {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  transform: scale(0.8);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.option {
  cursor: pointer;
  margin: 8px 0;
}
.option.selected {
  color: #a02f56;
}
.active3 .options {
  transform: scale(1);
}
.x {
  pointer-events: none;
  position: fixed;
  top: 2%;
  margin-left: 38%;
  z-index: 2001;
}
.top-bars {
  stroke: #303235;
  margin-left: 80px !important;
  transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active3 .top-bars {
  stroke: #f2f2f2 !important;
}
.bar {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bar1 {
  transform-origin: 190px 20.5px;
}
.bar2 {
  transform-origin: 190px 28.5px;
}
.active3 .bar1 {
  transform: translateY(8.6px) rotate(45deg);
}
.active3 .bar2 {
  transform: rotate(-45deg);
}
.menu-click-area {
  cursor: pointer;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  right: 0px;
  top: 10px;
  width: 40px;
  z-index: 3001;
}
.menu-navs {
  text-decoration: none;
  // font-family: rebondG-Semi-Bold;
  font-family: recoAltMedium;

  span {
    margin-right: 20px;
  }
}
