.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mt4 {
  margin-top: 40px;
}
.mt5 {
  margin-top: 50px;
}
.mt6 {
  margin-top: 60px;
}
.mt7 {
  margin-top: 70px;
}
.mt8 {
  margin-top: 80px;
}
.mt9 {
  margin-top: 90px;
}
.mt {
  margin-top: 140px;
}
.mtt {
  margin-top: 200px;
}
.bb {
  border-bottom: solid 1px rgb(233, 229, 229);
}
.bt {
  border-top: solid 1px rgb(233, 229, 229);
}
.pd {
  padding: 80px 0;
}
.br {
  border-right: solid 1px rgb(233, 229, 229);
}
.features-link {
  color: #191919;
  text-decoration: none;
  &:hover {
    color: #191919;
  }
}

.mb5 {
  margin-bottom: 50px;
}
.mb4 {
  margin-bottom: 40px;
}
// @media screen and (max-width: 620px) {
.sticky-top {
  z-index: 5 !important;
}
// }
.no-margin {
  @media screen and (max-width: 620px) {
    margin-top: 0px !important;
    text-align: center;
  }
}
.grad2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 28%,
    rgba(240, 240, 240, 1) 48%,
    rgba(255, 255, 255, 1) 75%
  );
}
