.holder {
  display: inline-block;
  width: 64px;
  height: 64px;
  perspective: 700px;
}
.card,
.front,
.back {
  position: absolute;
  height: inherit;
  width: inherit;
  transition: all 0.7s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* ::: FACES */
.front {
  background: tomato;
}
.back {
  background: slategray;
}

/* ::: SETUP FACES */
.flipH .back {
  transform: rotateY(-180deg);
}
.flipV .back {
  transform: rotateX(180deg);
}

/* ::: HOVER EFFECTS (Remove Automated for this to work) */
.flipH:hover .card {
  transform: rotateY(180deg);
}
.flipV:hover .card {
  transform: rotateX(-180deg);
}

/* ::: AUTOMATED EFFECTS */
