@import "../../variables";
@import "../../shared-styles";
.home-container {
  padding-top: 100px;
  padding-bottom: 100px;
  h1 {
    margin-bottom: 30px;
  }
  button {
    @include get-started-button;
  }
  .screen-div {
  }
}
.divisions-div {
  padding-top: 50px;

  background: #f9fafb;
  .tech-hub-div {
  }
}
