@import "../../variables";
@import "../../shared-styles";
.home-container {
  padding-top: 100px;
  padding-bottom: 100px;
  h1 {
    margin-bottom: 30px;
  }
  button {
    @include get-started-button;
  }
  .screen-div {
  }
}
.divisions-div {
  padding-top: 30px;

  background: #f9fafb;
  .tech-hub-div {
    margin-bottom: 100px;
  }
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
