@import "../../variables";
@import "../../shared-styles";
.hire-container {
  margin-top: 100px;
  h1 {
    color: $navy;
    font-size: 60px;
    margin-bottom: 30px;
  }
  hire-btn {
    margin-top: 30px;
  }
}
