@import "../../variables";
@import "../../shared-styles";
.hire-container {
  margin-top: 100px;
  h1 {
    color: $navy;
    font-size: 60px;
    margin-bottom: 30px;
  }
  .hire-btn {
    margin-top: 30px;
    background: #2f99da;
    color: #fff;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    font-family: rebondG-Semi-Bold;
  }
}
.why-hexxondiv {
  margin-top: 100px;
  background: #f8f9f9;
  padding-top: 50px;
}
