.prices-container {
  margin: 160px 0;
}
.prices-div {
  background: #eeeeee;
  padding: 80px 0px;
  .prices {
    background: #fff;
    padding: 60px 10px 0px 10px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    ul li {
      font-size: 14px;
    }
    h3 {
      margin: 20px 0;
      color: #56575b;
    }
    h5 {
      margin: 25px 0;
      color: grey;
    }
    sub {
      font-size: 13px;
      color: grey;
    }
    .new-btn {
      background: green;
      color: #fff;

      margin-left: 10px;
      font-size: 12px;
    }
    .started-btn {
      background: #edf2fe;
      border: none;
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
      color: #2a5bd7;
      &:hover {
        background: #779aed;
        transition: 0.5s ease;
        color: #fff;
      }
    }
    img {
      margin-right: 8px;
      height: 7%;
    }
    ul li {
      color: grey;
    }
  }
  .premium-prices {
    background: #fff;
    margin-top: -40px;
    border-radius: 20px;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    h5 {
    }
    .premium-header {
      background: grey;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;

      padding: 3px 0;
      h6 {
        color: #fff;
        margin-top: 6px;
      }
    }
    .premium-body {
      padding: 0px 10px 0px 10px;
      border: solid 3px grey;
      height: 600px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      h6 {
        margin: 30px 0;
      }
    }
    ul li {
      font-size: 14px;
    }
    h3 {
      margin: 20px 0;
      color: #56575b;
    }
    h5 {
      margin: 25px 0;
      color: grey;
    }
    sub {
      font-size: 13px;
      color: grey;
    }
    .new-btn {
      background: green;
      color: #fff;

      margin-left: 10px;
      font-size: 12px;
    }
    .started-btn {
      background: #d4d6db;
      border: none;
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
      color: #fff;
      &:hover {
        background: #779aed;
        transition: 0.5s ease;
        color: #fff;
      }
    }
    img {
      margin-right: 8px;
      height: 7%;
    }
    ul li {
      color: grey;
    }
  }
  .premium-prices2 {
    background: #fff;
    margin-top: -40px;
    border-radius: 20px;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    h5 {
    }
    .premium-header {
      background: #0b1736;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;

      padding: 3px 0;
      h6 {
        color: #fff;
        margin-top: 6px;
      }
    }
    .premium-body {
      padding: 0px 10px 0px 10px;
      border: solid 3px #0b1736;
      height: 600px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      h6 {
        margin: 30px 0;
      }
    }
    ul li {
      font-size: 14px;
    }
    h3 {
      margin: 20px 0;
      color: #56575b;
    }
    h5 {
      margin: 25px 0;
      color: grey;
    }
    sub {
      font-size: 13px;
      color: grey;
    }
    .new-btn {
      background: green;
      color: #fff;

      margin-left: 10px;
      font-size: 12px;
    }
    .started-btn {
      background: #1d4fcd;
      border: none;
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
      color: #fff;
      &:hover {
        background: #779aed;
        transition: 0.5s ease;
        color: #fff;
      }
    }
    img {
      margin-right: 8px;
      height: 7%;
    }
    ul li {
      color: grey;
    }
  }

  .tabs {
    display: flex;

    border-radius: 35px;
    width: 3%;
    padding: 5px;
    margin: 0 10px;
    font-family: rebondG-Bold;
    position: relative;
    z-index: 2;
    background: #2a5bd7;
    @media screen and (max-width: 620px) {
      width: 40%;
      margin-left: 0%;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      // display: grid;
    }
  }
  .tab {
    width: 50%;
    background: #2a5bd7;
    padding: 9px 0;
    border: none;
    color: black;
    border-radius: 35px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active2 {
    font-weight: bold;
    background: #fff;
    color: #fff;
  }
  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 100px;
    background: transparent;
  }
  .panel.active2 {
    display: block;
  }
}
.prices-body {
  margin-left: 80px;
  @media screen and (max-width: 620px) {
    margin-left: 0;
  }
}
