.frameworks-container {
  margin: 150px 0;
}
.prices-div {
  background: #eeeeee;
  padding: 80px 0px;

  .tabs {
    display: flex;
    border-radius: 35px;
    width: 22%;
    padding: 5px;
    margin: 0 10px;
    font-family: rebondG-Bold;
    position: relative;
    z-index: 2;
    background: #2a5bd7;
    @media screen and (max-width: 620px) {
      width: 40%;
      margin-left: 0%;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs {
      // display: grid;
    }
  }
  .tab {
    width: 50%;
    background: #2a5bd7;
    padding: 9px 0;
    border: none;
    color: black;
    border-radius: 35px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active2 {
    font-weight: bold;
    background: #fff;
    color: #fff;
  }
  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 100px;
    background: transparent;
  }
  .panel.active2 {
    display: block;
  }
}
.prices-body {
  margin-left: 80px;
  @media screen and (max-width: 620px) {
    margin-left: 0;
  }
}
