@import "../../variables";
@import "../../shared-styles";
.careers-landing {
  height: 700px;
  background: #092540;
  .details-div {
    margin-top: 150px;
    h1 {
      color: #fff;
      font-size: 55px !important;
      margin: 30px 0;
    }
    P {
      color: #fff;
    }
    .careers-btn {
      border: none;
      background: #6ef0e3;
      text-transform: uppercase;
      padding: 7px 15px;
      border-radius: 5px;
      font-family: recoAltSemiBold;
    }
    .apply-btn {
      border: none;
      padding: 10px 20px;
      border-radius: 25px;
      font-family: recoAltSemiBold;
      margin-top: 30px;
      background: $red;
      color: #fff;
    }
    p {
      font-size: 20px;
    }
  }
}
.stats-div {
  height: 400px;
  background: #092540;
  margin-top: 100px;
  color: #fff;
}
