@import "../../variables";
@import "../../shared-styles";

.product-container2 {
  position: relative;

  img {
    height: 800px;
    @media screen and (max-width: 620px) {
      height: 400px;
    }
  }
  .product-overlay2 {
    position: absolute;
    // transform: translate(0%, -50%);
    top: 40%;
    h1,
    h4 {
      color: #fff;
    }
    h1 {
      font-size: 70px;
      color: #fff;
      text-shadow: 5px 5px 10px black;
      @media screen and (max-width: 620px) {
        font-size: 40px;
      }
    }
    h4 {
      font-weight: bold;
    }
  }
}
.portfolio-section {
  padding-bottom: 120px;
  padding-top: 120px;
}
.portfolio-slide {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    71deg,
    rgba(255, 255, 255, 1) 3%,
    rgba(249, 229, 229, 1) 47%,
    rgba(255, 255, 255, 1) 98%
  );
  a {
    position: relative;
    z-index: 1000;
    color: #3099da;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.preview {
  height: 500px;
  @media screen and (max-width: 620px) {
    height: 400px;
  }
}
.carousel-control-next-icon {
  background-image: url("../../assets/images/right2.png");
  margin-left: 150px !important;
  position: relative !important;
  margin-top: -60px !important;
}
.carousel-control-prev-icon {
  background-image: url("../../assets/images/left2.png");
  margin-right: 150px !important;
  margin-top: -60px !important;
}
.carousel-indicators button {
  background: $blue !important;
  border: solid 1px #707070 !important;
  border-radius: 50% !important;
  height: 7px !important;
  width: 7px !important;
  margin-top: 400px !important;
}
.port-para {
  padding: 280px 0 80px 0;
  @media screen and (max-width: 620px) {
    padding: 0px 0;
    margin-top: -70px;
  }
}
