@import "../../variables";
@import "../../shared-styles";
.image-container {
  @media screen and (max-width: 620px) {
    height: fit-content;
    background-color: $blue;
    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 800px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
}
// #home-top-video:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   z-index: 1;
//   background-image: linear-gradient(90deg, #004f9d 35%, rgba(0, 7, 13, 0) 100%);
//   opacity: 0.9;
// }

#home-top-video {
  left: 0%;
  margin-top: -9% !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // position: fixed;
  z-index: -1;
}
.tech-logo {
  margin-top: -50px;
}
.tech-nav {
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 2 !important;
}
.tech-logo-div {
  flex-grow: 1 !important;
}
.tech-links {
  color: #fff;
  text-decoration: none;
  font-family: rebondG-Semi-Bold;
  margin: 20px !important;
  &:hover {
    color: #fff;
  }
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  margin-left: 11px;
  height: 4px;
  background: #f91817;
  transition: width 0.3s;
  position: relative;
  z-index: 300000000000000;
}

.cool-link:hover::after {
  width: 100%;
}
.frameworks-div {
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
.swipper-container {
  margin-bottom: 150px !important;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  // top: 230px !important;
  margin-bottom: -130px !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #007aff !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 120%;
}
