@import "../../variables";
@import "../../shared-styles";
.image-container {
  @media screen and (max-width: 620px) {
    height: fit-content;
    background-color: $blue;
    margin-bottom: 0px;
  }
  .viddeo {
    @media screen and (max-width: 620px) {
      height: 800px;
      transform: translateX(0%) translateY(0%);
      object-fit: cover;
    }
  }
}
#home-top-video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  //   background-image: linear-gradient(90deg, #004f9d 35%, rgba(0, 7, 13, 0) 100%);
  opacity: 0.9;
}

#home-top-video {
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.tech-logo {
  margin-top: -30px;
}
.tech-nav {
  display: flex;
}
.tech-logo-div {
  flex-grow: 1 !important;
}
.tech-links {
  color: #fff;
  text-decoration: none;
  font-family: rebondG-Semi-Bold;
  margin: 20px;
  &:hover {
    color: #fff;
  }
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: red;
  transition: width 0.3s;
  position: relative;
  z-index: 300000000000000;
}

.cool-link:hover::after {
  width: 100%;
}
