@import "../../variables";
@import "../../shared-styles";

.hire-form {
  background: #f5f8ff;
  height: 600px;
  .intro-div {
    background: $navy;
    padding: 20px;
    color: #fff;
    borde-rradius: 5px;
  }
}
