@import "../../variables";
@import "../../shared-styles";

.hire-form {
  background: #f5f8ff;
  padding: 50px;
  margin-top: 100px;
  height: fit-content;
  .intro-div {
    background: $navy;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  .myinput:hover + .mydisplay {
    border-color: #00b3ee;
  }

  .myinput:checked + .mydisplay {
    background-size: cover;
    background-image: url("../../assets/images/tick.png");
  }
  .myinput {
    display: none;
  }

  .myinput + .mydisplay {
    width: 20px;
    height: 20px;
    border: 3px solid darkgray;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .mylabel {
    display: flex;
  }
}
