@import "../../variables";
@import "../../shared-styles";

.hire-form {
  background: #f5f8ff;
  padding: 50px;
  margin-top: 100px;
  height: fit-content;
  .intro-div {
    background: $navy;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  .myinput:hover + .mydisplay {
    border-color: #00b3ee;
  }

  .myinput:checked + .mydisplay {
    background-size: cover;
    background-image: url("../../assets/images/tick.png");
    background-color: $navy;
    border-color: #00b3ee;
  }
  .myinput {
    display: none;
  }

  .myinput + .mydisplay {
    width: 20px;
    height: 20px;
    border: 3px solid darkgray;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .mylabel {
    display: flex;
  }
  .custom-radio {
    left: -8px;
    top: 6px;
    cursor: pointer;
    width: 17px;
    height: 17px;
    border: 2px solid #9a9a9a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }

  /* for inner filled circle */
  .custom-radio::after {
    content: "";
    width: 12px;
    height: 12px;
    background: $navy;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }
  .radio-input {
    visibility: hidden;
  }

  .radio-input:checked + span {
    border: 2px solid grey;
  }

  .radio-input:checked + span:after {
    opacity: 1;
  }
  .radio-label {
  }

  .radio-input {
    visibility: hidden;
  }
}
