@import "../../variables";
@import "../../shared-styles";
.contact-div {
  position: relative;
}
.form-div {
  position: absolute;
  transform: translate(-0%, -50%);
  top: 40%;
  background: #fff;
  height: fit-content-;
  //   padding: 30px;
  box-shadow: 0 0 3px 3px rgb(215, 215, 215);
  border-radius: 20px;
  input {
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    margin-top: 20px;
    font-family: helveticaR;
  }
  textarea {
    width: 100%;
    padding-left: 20px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    margin-top: 20px;
    height: 100px;
    font-family: helveticaR;
  }
  .form-heading {
    height: fit-content;
    box-shadow: 0 0 3px 3px rgb(215, 215, 215);
    position: relative;
    width: 100%;

    img {
      //   border: solid 1px red;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    .form-write-up {
      position: absolute;
      top: 50%;
      transform: translate(-0%, -50%);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      box-shadow: 0 0 3px 3px rgb(215, 215, 215);
      background: rgba(12, 12, 12, 0.7);
      color: #fff;
      height: 100%;
      h6 {
        color: #fff;
      }
    }
  }
  .form-body {
    padding: 30px;
  }
}
.enquiry-form {
  border-radius: 10px;
  //   padding: 5px;
  h6 {
    margin-top: 10px;
  }
  button {
    @include division-button;
    background: $blue2;
    border: none;
  }
}
.page-wrapper {
  animation: Zoomin 0.7s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #eee;
  min-height: 100%;
  min-width: 100%;
  color: #111;
  z-index: 1;
  min-height: 600px;
  height: 680px;
  min-width: 800px;
  width: 100%;
}

@keyframes Zoomin {
  from {
    -moz-transform-origin: 50% 50% 50%;
    -ms-transform-origin: 50% 50% 50%;
    -webkit-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px inset;
  }
  to {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-box-shadow: transparent 0 0 0 inset;
    -webkit-box-shadow: transparent 0 0 0 inset;
    box-shadow: transparent 0 0 0 inset;
  }
}
