.product-container {
  position: relative;

  img {
    height: 700px;
  }
  .product-overlay {
    position: absolute;
    transform: translate(25%, -50%);
    top: 50%;
    h1,
    h4 {
      color: #fff;
    }
    h1 {
      font-size: 80px;
    }
  }
}
